/* fonts */

@import url(https://fonts.googleapis.com/css?family=Milonga);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* init */

div {
    margin:0; padding:0;
}

/* animations */

@keyframes cursorspin {
    0%   {cursor: n-resize;}
    12%   {cursor: ne-resize;}
    25%   {cursor: e-resize;}
    37%   {cursor: se-resize;}
    50%   {cursor: s-resize;}
    62%   {cursor: sw-resize;}
    75%   {cursor: w-resize;}
    87%   {cursor: nw-resize;}
}

@keyframes prompt {
    0%   {visibility: visible;}
    90%  {visibility: hidden;}
}

/* main styles */

body {
    font-family: sans-serif;

    background-color: transparent;
    background-color: rgba(0,0,0,0);
    
    cursor: n-resize;
    animation-name: cursorspin;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    
    /* center everything */
    height: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

body[data-step="3"] {
    background-color: rgba(255,255,255,0.4);
    transition: background-color 3s;
}


body[data-step="3"][data-listening-ok="true"],
body[data-step="4"] {
    background-color: rgba(255,255,255,1);
    transition: background-color 0.5s;
}


.dancefloor {
    font-family: 'Press Start 2P','Milonga';
    font-size: 110%;
    /* consequence of flex centering */
    min-height:100vh;
    width:100%;
    box-sizing: border-box;
    transition: background-color: 0.3s;
    padding: 1em 1.5em 1em 2em;
}

.dancefloor.listening {
    background-color: rgba(0,255,0,0.12)
}

.truth, .reality {
    position: absolute;
    top: 0;    
    transition: padding-left 1s, padding-top 1s;
}

.truth {
    opacity: 0.2;
    -webkit-user-select: none;
    user-select: none;
}

.reality {
}

.lyrics cite {
    font-style: inherit;
}

.lyrics .italics {
    font-style: italic;
}

.log {
  opacity: 0.3;
  color:green;
}

.test.speakers .indicator{
    visibility: hidden;
}

.test.speakers.playing .indicator{
    visibility: visible;
}

.test.listening:not(.understood) .confirm {
    visibility: hidden;
}

.test.listening.understood .info,
.test.listening.understood .warning {    
    visibility: hidden;
}

.wrong {
    color: red;
}

.directions {
    background-color: rgba(133,133,133,0.6);
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    animation: prompt 2s infinite;
    visibility: hidden;
}

#meter {
    width: 100%;
}

.striped {
    background-image: 
      linear-gradient(-45deg, transparent 50%, #919195 50%, transparent 55%, transparent 60%);
    background-size: 12px 12px;
    background-position: 4px 4px;  
    border: solid 1px rgba(133,133,133,0.5);
}

.warning {
    /* https://www.iconfinder.com/search/?q=warning */
    background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIzMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzkyOTI5MiIgaWQ9Imljb24tNjEtd2FybmluZyI+PHBhdGggZD0iTTE0LjMwNzc5NjksNi4wNTQ0ODk2MiBDMTUuMTc3ODYzLDQuNjQ2ODI2NjMgMTYuNTkwNTkyMiw0LjY1MDE4MTI5IDE3LjQ1ODU4NDgsNi4wNTQ0ODk2MiBMMjguMjQzNjc0MSwyMy41MDM0NzY4IEMyOS40MDUyMDMxLDI1LjM4MjY5MiAyOC41NTkxMTA0LDI2LjkwNjA5NjkgMjYuMzU0OTcxMSwyNi45MDYwOTY5IEw1LjQxMTQxMDY1LDI2LjkwNjA5NjkgQzMuMjA2Nzc5ODIsMjYuOTA2MDk2OSAyLjM1NzQyNzQyLDI1LjM4ODc2MSAzLjUyMjcwNzU3LDIzLjUwMzQ3NjggTDE0LjMwNzc5NjksNi4wNTQ0ODk2MiBMMTQuMzA3Nzk2OSw2LjA1NDQ4OTYyIFogTTE1Ljg4MzU2NDMsMTEuOTA2MDk2OSBDMTUuMzMxMjc5NSwxMS45MDYwOTY5IDE0Ljg4MzU2NDMsMTIuMzU5MTMzMiAxNC44ODM1NjQzLDEyLjkwMzEyNyBMMTQuODgzNTY0MywxOC45MDkwNjY3IEMxNC44ODM1NjQzLDE5LjQ1OTcxMTMgMTUuMzI3NDI5MSwxOS45MDYwOTY5IDE1Ljg4MzU2NDMsMTkuOTA2MDk2OSBDMTYuNDM1ODQ5LDE5LjkwNjA5NjkgMTYuODgzNTY0MywxOS40NTMwNjA2IDE2Ljg4MzU2NDMsMTguOTA5MDY2NyBMMTYuODgzNTY0MywxMi45MDMxMjcgQzE2Ljg4MzU2NDMsMTIuMzUyNDgyNSAxNi40Mzk2OTk0LDExLjkwNjA5NjkgMTUuODgzNTY0MywxMS45MDYwOTY5IEwxNS44ODM1NjQzLDExLjkwNjA5NjkgWiBNMTUuODgzNTY0MywyMy45MDYwOTY5IEMxNi40MzU4NDksMjMuOTA2MDk2OSAxNi44ODM1NjQzLDIzLjQ1ODM4MTYgMTYuODgzNTY0MywyMi45MDYwOTY5IEMxNi44ODM1NjQzLDIyLjM1MzgxMjEgMTYuNDM1ODQ5LDIxLjkwNjA5NjkgMTUuODgzNTY0MywyMS45MDYwOTY5IEMxNS4zMzEyNzk1LDIxLjkwNjA5NjkgMTQuODgzNTY0MywyMi4zNTM4MTIxIDE0Ljg4MzU2NDMsMjIuOTA2MDk2OSBDMTQuODgzNTY0MywyMy40NTgzODE2IDE1LjMzMTI3OTUsMjMuOTA2MDk2OSAxNS44ODM1NjQzLDIzLjkwNjA5NjkgTDE1Ljg4MzU2NDMsMjMuOTA2MDk2OSBaIiBpZD0id2FybmluZyIvPjwvZz48L2c+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 45px;
}

.dialogue {
    width:50%;
    min-width:260px;
    max-width: 500px;
    border:solid 1px black;
    padding: 1em 2em;
    background-color: white;
    line-height: 1.1;
    letter-spacing: 0.1ex;
}

.dialogue h2 {
    text-decoration: underline;
}

.dialogue button {
    position:relative;
    font-weight: bold;
    padding: 0.6em;
    font-size: inherit;
    box-shadow: 7px 7px 6px #888888;
}

.dialogue button.continue {
    clear: both;
    float:right;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.dialogue button:hover {
    -webkit-filter: brightness(0.9);
    cursor: pointer;
}

.dialogue button:active {
    -webkit-filter: brightness(0.9);
    cursor: pointer;
    box-shadow: 5px 5px 5px #888888;
    top:2px; left:2px;
}

.dialogue-header {
    margin:-1em -2em;
    margin-bottom: 0;
    background:black;
    color:#eee;
    padding:1em 2em;
    text-align: center;
}

.close {
    position:fixed;
    top:0.6em; right: 0.6em;
    z-index: 100;
}

.close:hover {
    cursor: pointer;
}

.dialogue-header .close {
    float: right;
    position: static;
}

.dialogue-header .close:hover {
    background-color: white;
    color:black;
}

.dancefloor .close:hover {
    background-color: black;
    color:white;
}

.indicatorPanel {
    position: fixed;
    bottom: 1em;
    right: 1em;
    opacity: 0.8;
}

.indicatorPanel:nth-of-type(1) {
    bottom: 3em;
}

.indicatorPanel .indicator {
    float: left;
    margin-left: 0.5em;
    background-color: grey;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.indicatorPanel .name {
    float:left;
}

.indicatorPanel:not(.on) .indicator.off {
    background-color: red;
}

.indicatorPanel.on .indicator.on {
    background-color: green;
}

.pictureframe  {
    border-image-source: url('border-image.png');
    border-image-slice: 70;
    border-image-repeat: stretch;
    border-width: 70px;
    border-style: solid;
}